<?php

return [
    'remin' => [
        'numero_territorios' => 64,
        'admin' => [
            'user' => 'adminusername',
            'pass' => 'adminpassword',
        ],
    ],
];
